:root {
  --background: #fff1ab;
  --nav: #130e11;
  --nav_text: #E7E7E7;
  --dropdown_menu_background: black;

  --scheduler_background: lightyellow;
  --scheduler_shadow: #afafaf;
  --scheduler_today_background: #ffffb9;
  --scheduler_today_header_background: #fafa88;
  --scheduler_header_and_time_text_color: black;
  --scheduler_cell_hover: #dceffd;
  --scheduler_holiday: #FFFCED;
  --scheduler_visit: white;
  --scheduler_visit_popup: #dceffd;
  --scheduler_plus_week_button_background: white;
  --scheduler_plus_week_button_border: yellow;
  --scheduler_plus_week_button_text: black;


  --table_header_color: #D0D0D0;
  --table_header_text_color: black;
  --table_row_color: lightyellow;
  --table_row_hover: #FCFCFC;
  --table_row_clicked: #F6F6F6;
  --table_cell_border_color: #E3E3E3;
  --table_shadow: #afafaf;


  --input_valid: #004980;
  --input_invalid: red;
  --input_label: black;
  --input_background: white;
  --textarea_text: black;
  --select_option_text_color: black;

  --button_background: #FCFCFD;
  --red_button_background: #B64545;
  --disabled_button_background: gray;
  --button_text_color: #4589b6;

  --loader_color_0: #4E4E4E;
  --loader_color_100: #DECB8F;

  --modal_background: lightyellow;
  --modal_client_text_color: black;
  --modal_client_tab_background: white;
  --modal_client_table_text: black;

  --header_text: black;

  --pagination_text_color: black;
  --pagination_active_background_color: #a5a5a5;
  --pagination_active_text_color: white;
  --pagination_hover_color: #ddd;

  --slider_background: #ccc;
  --slider_before_background: #fff;
  --slider_checked_background: #BBDEFA;


  --profile_background: lightyellow;
}