.css_modal {
  /*position: fixed;*/
  /*left: 50%;*/
  /*top: 50%;*/
  /*transform: translate(-50%, -50%);*/
  /*max-height: 90%;*/
  /*resize: both;*/
  /*overflow: auto;*/

  position: fixed;
  left: 15%;
  top: 7%;
  max-height: 93%;
  max-width: 90%;
  /*overflow: visible;*/
  overflow: auto;

  z-index: 500;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
  .css_modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}

.css_backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.css_select_in_modal {
  /*position:relative;*/
  /*z-index: 1100;*/
  /*overflow-y: unset !important;*/
}
