@media screen and (min-width: 1250px) {
  .scheduler {
    table-layout: fixed;
  }

  .schedule_plus_button {
    text-align: center;
  }
}

.scheduler {
  /*margin-bottom: 20px;*/
  width: 100%;
  box-shadow: 2px 0 5px #afafaf;
}

.th_today {
  background: #dceffd;
}

.td_today {
  background: #F1F9FF;
}

.scheduler_th {
  text-align: center;
  height: 30px;
}

.scheduler_th:not(:last-of-type) {
  border-right: 1px solid lightgray;
}

.scheduler_time_header {
  width: 53px;
}

.scheduler_td {
  height: 30px;
}

.scheduler_td:not(:last-of-type) {
  border-right: 1px solid lightgray;
}

.scheduler_td:hover {
  background: #dceffd;
}

@media screen and (max-width: 1250px) {
  .schedule_wrapper {
    padding: 0;
  }

  .scheduler_td, .scheduler_th, .scheduler_holiday {
    min-width: 250px;
    max-width: 250px;
  }

  .scheduler_td:first-of-type {
    position: sticky;
    left: 0;
    z-index: 600;
  }

  .scheduler_time_header {
    position: sticky;
    left: 0;
    z-index: 600;
  }

  .scheduler_overflow_line {
    margin-bottom: 10px;
    overflow-x: auto;
  }
}

.scheduler_holiday {
  height: 30px;
  background: #F5F5F5;
}

.time {
  border-right: 1px solid lightgray;
}

.visits_container {
  width: 93%;
  display: flex;
  box-sizing: border-box;
}

.visit {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: white;
  border-radius: 5px;
  padding: 2px 5px;
  cursor: default;
}

.visit:hover {
  /*background: #89cafc;*/
  background: white;
}

.visit:not(:first-of-type) {
  margin-left: 3px;
}

.css_visit_popup {
  background: #dceffd;
  border-radius: 5px;
  padding: 2px 5px;
}

.css_tab {
  cursor: pointer;
}

.css_header_cell {
  display:flex;
  justify-content:center;
}

.css_header_date {
  flex:1;
  display: flex;
  justify-content: center;
  transform: translateX(10px);
}