{% extends 'base.html' %}
{% load static %}
{% block title %}MediDent{% endblock %}
{% load render_bundle from webpack_loader %}

{% block second_nav %}{% endblock %}
{% block content %}
  <script>
    window.is_in_employee_list = {{ request.user.employee.is_in_employee_list|yesno:"true,false" }};
    window.employee_id = {{ request.user.employee.id|safe }};
    window.employee_name = '{{ request.user.employee.name|safe }}';
    window.employee_color = '{{ request.user.employee.color|safe }}';
    window.clinic = {{ clinic|safe }};
  </script>

  <div class="container-fluid px-3 schedule_wrapper" id="bundle">
    <script type="text/javascript" src="{% static 'schedule.js' %}"></script>
  </div>
{% endblock %}