.scheduler {
  margin-bottom: 20px;
  table-layout: fixed;
  width: 100%;
}

.today {
  background: #dceffd;
}

.scheduler_th {
  text-align: center;
}

.scheduler_th:not(:last-of-type) {
  border-right: 1px solid lightgray;
}

.scheduler_th:first-of-type {
  width: 60px;
}

.scheduler_td:not(:last-of-type) {
  border-right: 1px solid lightgray;
}

.scheduler_td:hover {
  background: #dceffd;
  /*width: 13.714%*/
}

.time {
  border-right: 1px solid lightgray;
  width: 4%;
}

.scheduler_th,
.scheduler_td {
  height: 30px;
}
