.scheduler {
  margin-bottom: 20px;
  table-layout: fixed;
  width: 100%;
}

.today {
  background: #dceffd;
}

.scheduler_th {
  text-align: center;
}

.scheduler_th:not(:last-of-type) {
  border-right: 1px solid lightgray;
}

.scheduler_th:first-of-type {
  width: 60px;
}

.scheduler_td:not(:last-of-type) {
  border-right: 1px solid lightgray;
}

.scheduler_td:hover {
  background: #dceffd;
  /*width: 13.714%*/
}

.time {
  border-right: 1px solid lightgray;
  width: 4%;
  float:left
}

.day {
  float:left;
  width: 13%;
}

.scheduler_th,
.scheduler_td {
  height: 30px;
}

.visits_container {
  width: 93%;
  display: flex;
  box-sizing: border-box;
}

.visit {
  flex: 1;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  background: #bde2fd;
  border-radius: 5px;
  padding: 2px 5px;
  cursor: default;
}

.visit:hover {
  background: #89cafc;
}

.visit:not(:first-of-type) {
  margin-left: 3px;
}

.css_visit_popup {
  background: #dceffd;
  border-radius: 5px;
  padding: 2px 5px;
}