/*@media screen and (min-width: 1250px) {*/
/*  .css_table {*/
/*      table-layout:fixed;*/
/*  }*/
/*}*/

.css_table {
  background: green;
}

.css_table_wrapper {
  overflow-x: auto;
  display: block;
  white-space: nowrap;
  background: red;
}

.css_table_row_clicked {
    background-color: #dceffd80;
}

.css_th {
  background: black !important;
  /*background: #dceffd !important;*/
}

.css_tr:hover {
  background: #dceffd40;
}
