{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}MediDent{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=0.95">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap" rel="stylesheet">

  {% if clinic == '1' %}
    {% if user.employee.theme.name == 'white' %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/themes/white.css' %}">
    {% elif user.employee.theme.name == 'yellow' %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/themes/yellow.css' %}">
    {% elif user.employee.theme.name == 'black' %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/themes/black.css' %}">
    {% endif %}
  {% else %}
    {% if user.employee.second_clinic_theme.name == 'white' %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/themes/white.css' %}">
    {% elif user.employee.second_clinic_theme.name == 'yellow' %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/themes/yellow.css' %}">
    {% elif user.employee.second_clinic_theme.name == 'black' %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/themes/black.css' %}">
    {% endif %}
  {% endif %}

  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/button.css' %}">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'MediDentIcon.ico' %}">
  {% block stylesheet %}{% endblock %}

  <script>
    window.user_id = {{ user.id|safe }};
    window.is_staff = {{ user.is_staff|yesno:"true,false" }}
  </script>
</head>

<body>
  {% block body %}
    {% block nav_panel %}
      <nav class="navbar navbar-expand-lg css_base_nav sticky
                  {% if user.employee.theme.is_navbar_dark %}
                    navbar-dark
                  {% else %}
                    navbar-light
                  {% endif %}
      ">
        <div class="d-flex mr-3">
          <img src="{% static 'MediDentIcon.ico' %}" alt="MediDent logo" height="40">
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li><a class="nav-link css_nav_link" href="{% url 'home:schedule' %}">
              <span
                class="css_nav_text {% if request.path == '/' or request.path == '/schedule' or request.path == '/home/schedule' %}active{% endif %}">Календар</span>
            </a></li>
            <li><a class="nav-link css_nav_link" href="{% url 'home:clients' %}">
              <span
                class="css_nav_text {% if request.path == '/clients' or request.path == '/home/clients' %}active{% endif %}">Клієнти</span>
            </a></li>
            {% if user.is_staff %}
              <li><a class="nav-link css_nav_link" href="{% url 'home:employees' %}">
                <span
                  class="css_nav_text {% if request.path == '/employees' or request.path == '/home/employees' %}active css_nav_active{% endif %}">Спеціалісти</span>
              </a></li>
            {% endif %}
          </ul>

          {% if clinic %}
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a class="nav-link css_nav_link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {% if clinic == '1' %}
                    <span class="css_nav_text">Перечин</span>
                  {% elif clinic == '2' %}
                    <span class="css_nav_text">Т.Ремета</span>
                  {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                  {% if clinic == '1' %}
                    <a class="dropdown-item" href="{% url 'home:change_clinic' clinic='2' %}">Т.Ремета</a>
                  {% else %}
                    <a class="dropdown-item" href="{% url 'home:change_clinic' clinic='1' %}">Перечин</a>
                  {% endif %}
                </div>
              </li>
            </ul>
          {% endif %}

          <ul class="navbar-nav ml-auto">
            <div id='offline' class='btn'>
              <div>Відсутній інтернет!</div>
            </div>
            <li class="nav-item dropdown">
              <a class="nav-link css_nav_link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="css_nav_text">{{ user.username }}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
              {% if user.is_superuser  %}
                <a class="dropdown-item" href="{% url 'admin:index' %}"> Адмінка</a>
                <div class="dropdown-divider"></div>
              {% endif %}
              <a class="dropdown-item" href="{% url 'home:profile' %}"> Профіль</a>
              <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}">Вихід</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
   {% endblock %}

  {% block content_fluid %}
     <div class="container_fluid pt-2">
        {% block content %}

        {% endblock %}
     </div>
  {% endblock  %}


{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script type="text/javascript">
  let we_are_online = window.navigator.onLine;
  let offline_div = document.getElementById('offline');

  window.addEventListener('online', function() {
    offline_div.style.display = 'none';
  })

  window.addEventListener('offline', function() {
    offline_div.style.display = 'flex';
  })
</script>

{% block script %}  {% endblock %}

</body>
</html>